<h1>New Invoice</h1>

<%= form_for @invoice do |f| %>
  <%= f.label :client_email, 'Client email:' %>
  <%= f.collection_select :client_id, @clients, :id, :email, prompt: 'Select client' %>
  <% if @invoice.errors.any? %>
    <% @invoice.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  <% end %>  
  <%= f.submit 'Create invoice with Client' %>
<% end %>